html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 1em;
  background-image: url(../img/wow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  padding: 0 3.125em;
  font-family: "Montserrat", sans-serif;
  background: #f16059;
}

h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 786px) {
  h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }
}
